In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',30)
pd.set_option('display.precision',3)

In [17]:
def calc_PA(x):
    return x.AB+x.BB+x.HBP+x.SF+x.SH

def calc_TB(x):
    return x.H+x['2B']+(x['3B'])*2+(x.HR)*3

def calc_AVG(x):
    if x.AB==0:
        return 0
    else:
        return x.H/x.AB

def calc_OBP(x):
    if (x.AB+x.BB+x.HBP+x.SF)==0:
        return 0
    else:
        return (x.H+x.BB+x.HBP)/(x.AB+x.BB+x.HBP+x.SF)

def calc_SLG(x):
    if x.AB==0:
        return 0
    else:
        return x.TB/x.AB  

def calc_OPS(x):
    return x.OBP+x.SLG

def calc_WHIP(x):
    if x.IPouts==0:
        return 0
    else:
        return (x.BB+x.H)/x.IPouts*3

In [3]:
df_bat=pd.read_csv('../data/raw/Batting.csv')
df_bat=df_bat[df_bat['yearID']>2000]
df_bat['PA']=df_bat.apply(calc_PA,axis=1)
df_bat['TB']=df_bat.apply(calc_TB,axis=1)
df_bat['AVG']=df_bat.apply(calc_AVG,axis=1)
df_bat['OBP']=df_bat.apply(calc_OBP,axis=1)
df_bat['SLG']=df_bat.apply(calc_SLG,axis=1)
df_bat['OPS']=df_bat.apply(calc_OPS,axis=1)
df_bat.tail()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,PA,TB,AVG,OBP,SLG,OPS
110490,zimmejo02,2021,1,MIL,NL,2,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.000,0.000,0.000,0.000
110491,zimmeky01,2021,1,KCA,AL,52,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000,0.000,0.000,0.000
110492,zimmery01,2021,1,WAS,NL,110,255,27,62,16,0,14,46.0,0.0,0.0,16,77.0,0.0,0.0,0.0,2.0,9.0,273.0,120,0.243,0.286,0.471,0.756
110493,zuberty01,2021,1,KCA,AL,31,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.000,0.000,0.000,0.000
110494,zuninmi01,2021,1,TBA,AL,109,333,64,72,11,2,33,62.0,0.0,0.0,34,132.0,0.0,7.0,0.0,1.0,7.0,375.0,186,0.216,0.301,0.559,0.860

In [18]:
df_pit=pd.read_csv('../data/raw/Pitching.csv')
df_pit['WHIP']=df_pit.apply(calc_WHIP,axis=1)
df_pit.tail(10)

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,WHIP
49420,ynoahu01,2021,1,ATL,NL,4,6,18,17,0,0,0,273,76,41,...,25,100,0.224,4.05,1.0,4,4.0,0,372.0,0,42,1.0,2.0,5.0,1.110
49421,youngal01,2021,1,ARI,NL,2,6,30,2,0,0,0,125,50,29,...,20,38,0.298,6.26,3.0,2,1.0,0,193.0,7,34,2.0,2.0,4.0,1.680
49422,youngal01,2021,2,CLE,AL,0,0,10,0,0,0,0,31,15,9,...,7,5,0.341,7.84,1.0,1,2.0,0,53.0,5,9,0.0,0.0,3.0,2.129
49423,zamorda01,2021,1,SEA,AL,2,0,4,0,0,0,0,13,5,3,...,1,3,0.294,6.23,0.0,0,0.0,0,18.0,1,4,0.0,0.0,1.0,1.385
49424,zerpaan01,2021,1,KCA,AL,0,1,1,1,0,0,0,15,3,0,...,1,4,0.176,0.00,0.0,0,0.0,0,20.0,0,2,1.0,1.0,0.0,0.800
49425,zeuchtj01,2021,1,TOR,AL,0,2,5,3,0,0,0,45,21,11,...,9,8,0.323,6.60,0.0,0,0.0,0,74.0,0,16,0.0,0.0,2.0,2.000
49426,zimmebr02,2021,1,BAL,AL,4,5,14,13,0,0,0,193,75,36,...,22,56,0.291,5.04,0.0,0,2.0,1,285.0,0,37,1.0,2.0,3.0,1.508
49427,zimmejo02,2021,1,MIL,NL,0,0,2,0,0,0,0,17,8,5,...,2,0,0.348,7.94,0.0,0,1.0,0,26.0,1,5,0.0,0.0,1.0,1.765
49428,zimmeky01,2021,1,KCA,AL,4,1,52,2,0,0,2,162,46,29,...,30,46,0.243,4.83,1.0,9,0.0,0,223.0,9,32,0.0,4.0,13.0,1.407
49429,zuberty01,2021,1,KCA,AL,0,3,31,0,0,0,0,82,26,19,...,17,25,0.250,6.26,1.0,2,1.0,0,123.0,6,20,0.0,1.0,2.0,1.573