In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',30)
pd.set_option('display.precision',3)

In [2]:
def calc_PA(x):
    return x.AB+x.BB+x.HBP+x.SF+x.SH

def calc_TB(x):
    return x.H+x['2B']+(x['3B'])*2+(x.HR)*3

def calc_AVG(x):
    if x.AB==0:
        return 0
    else:
        return x.H/x.AB

def calc_OBP(x):
    if (x.AB+x.BB+x.HBP+x.SF)==0:
        return 0
    else:
        return (x.H+x.BB+x.HBP)/(x.AB+x.BB+x.HBP+x.SF)

def calc_SLG(x):
    if x.AB==0:
        return 0
    else:
        return x.TB/x.AB  

def calc_OPS(x):
    return x.OBP+x.SLG

def calc_ISO(x):
    return x.SLG-x.AVG

def calc_BABIP(x):
    if (x.AB-x.SO-x.HR+x.SF)==0:
        return 0
    else:
        return (x.H-x.HR)/(x.AB-x.SO-x.HR+x.SF)

def calc_wOBA(x):
    if (x.AB+x.BB-x.IBB+x.SF+x.HBP)==0:
        return 0
    else:
        return (x.BB*0.69+x.HBP*0.72+(x.H-x['2B']-x['3B']-x.HR)*0.89+x['2B']*1.27+x['3B']*1.62+x.HR*2.1)/(x.AB+x.BB-x.IBB+x.SF+x.HBP)

def calc_RC(x):
    if (x.AB+x.BB)==0:
        return 0
    else:
        return (x.TB*(x.H+x.BB)/(x.AB+x.BB))

def calc_WHIP(x):
    if x.IPouts==0:
        return 0
    else:
        return (x.BB+x.H)/x.IPouts*3

def calc_FIP(x):
    if x.IPouts==0:
        return 0
    else:
        return (((13*x.HR)+(3*(x.BB+x.HBP))-(2*x.SO))/x.IPouts*3) + 3.17

def calc_K9(x):
    return 

def calc_BB9(x):
    return

def calc_KBB(x):
    if x.BB == 0:
        return 0
    else:
        return x.SO/x.BB

In [3]:
df_bat=pd.read_csv('../data/raw/Batting.csv')
df_bat=df_bat[df_bat['yearID']>2000]
df_bat['PA']=df_bat.apply(calc_PA,axis=1)
df_bat['TB']=df_bat.apply(calc_TB,axis=1)
df_bat['AVG']=df_bat.apply(calc_AVG,axis=1)
df_bat['OBP']=df_bat.apply(calc_OBP,axis=1)
df_bat['SLG']=df_bat.apply(calc_SLG,axis=1)
df_bat['OPS']=df_bat.apply(calc_OPS,axis=1)
df_bat['ISO']=df_bat.apply(calc_ISO,axis=1)
df_bat['BABIP']=df_bat.apply(calc_BABIP,axis=1)
df_bat['wOBA']=df_bat.apply(calc_wOBA,axis=1)
df_bat.tail()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,...,SO,IBB,HBP,SH,SF,GIDP,PA,TB,AVG,OBP,SLG,OPS,ISO,BABIP,wOBA
110490,zimmejo02,2021,1,MIL,NL,2,1,0,0,0,0,0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
110491,zimmeky01,2021,1,KCA,AL,52,0,0,0,0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
110492,zimmery01,2021,1,WAS,NL,110,255,27,62,16,0,14,46.0,0.0,0.0,...,77.0,0.0,0.0,0.0,2.0,9.0,273.0,120,0.243,0.286,0.471,0.756,0.227,0.458,0.327
110493,zuberty01,2021,1,KCA,AL,31,1,0,0,0,0,0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
110494,zuninmi01,2021,1,TBA,AL,109,333,64,72,11,2,33,62.0,0.0,0.0,...,132.0,0.0,7.0,0.0,1.0,7.0,375.0,186,0.216,0.301,0.559,0.860,0.342,0.621,0.368

In [22]:
df_pit=pd.read_csv('../data/raw/Pitching.csv')
df_pit['WHIP']=df_pit.apply(calc_WHIP,axis=1)
df_pit['FIP']=df_pit.apply(calc_FIP,axis=1)
df_pit['SO/BB']=df_pit.apply(calc_KBB,axis=1)
df_pit.tail(10)

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP,WHIP,FIP,SO/BB
49420,ynoahu01,2021,1,ATL,NL,4,6,18,17,0,0,0,273,76,41,...,0.224,4.05,1.0,4,4.0,0,372.0,0,42,1.0,2.0,5.0,1.110,3.928,4.000
49421,youngal01,2021,1,ARI,NL,2,6,30,2,0,0,0,125,50,29,...,0.298,6.26,3.0,2,1.0,0,193.0,7,34,2.0,2.0,4.0,1.680,6.290,1.900
49422,youngal01,2021,2,CLE,AL,0,0,10,0,0,0,0,31,15,9,...,0.341,7.84,1.0,1,2.0,0,53.0,5,9,0.0,0.0,3.0,2.129,6.073,0.714
49423,zamorda01,2021,1,SEA,AL,2,0,4,0,0,0,0,13,5,3,...,0.294,6.23,0.0,0,0.0,0,18.0,1,4,0.0,0.0,1.0,1.385,5.478,3.000
49424,zerpaan01,2021,1,KCA,AL,0,1,1,1,0,0,0,15,3,0,...,0.176,0.00,0.0,0,0.0,0,20.0,0,2,1.0,1.0,0.0,0.800,2.170,4.000
49425,zeuchtj01,2021,1,TOR,AL,0,2,5,3,0,0,0,45,21,11,...,0.323,6.60,0.0,0,0.0,0,74.0,0,16,0.0,0.0,2.0,2.000,9.103,0.889
49426,zimmebr02,2021,1,BAL,AL,4,5,14,13,0,0,0,193,75,36,...,0.291,5.04,0.0,0,2.0,1,285.0,0,37,1.0,2.0,3.0,1.508,5.377,2.545
49427,zimmejo02,2021,1,MIL,NL,0,0,2,0,0,0,0,17,8,5,...,0.348,7.94,0.0,0,1.0,0,26.0,1,5,0.0,0.0,1.0,1.765,7.052,0.000
49428,zimmeky01,2021,1,KCA,AL,4,1,52,2,0,0,2,162,46,29,...,0.243,4.83,1.0,9,0.0,0,223.0,9,32,0.0,4.0,13.0,1.407,4.818,1.533
49429,zuberty01,2021,1,KCA,AL,0,3,31,0,0,0,0,82,26,19,...,0.250,6.26,1.0,2,1.0,0,123.0,6,20,0.0,1.0,2.0,1.573,6.170,1.471

In [7]:
df_bat[df_bat['AB']>50].groupby('yearID').agg(lgwOBA=('wOBA','mean'),lgOBP=('OBP','mean'),lgSLG=('SLG','mean')).reset_index()

    yearID  lgwOBA  lgOBP  lgSLG
0     2001   0.317  0.316  0.397
1     2002   0.315  0.316  0.392
2     2003   0.313  0.313  0.391
3     2004   0.317  0.316  0.396
4     2005   0.312  0.313  0.389
5     2006   0.322  0.320  0.406
6     2007   0.318  0.319  0.396
7     2008   0.315  0.318  0.387
8     2009   0.317  0.318  0.393
9     2010   0.304  0.308  0.374
10    2011   0.302  0.304  0.372
11    2012   0.303  0.302  0.377
12    2013   0.301  0.302  0.373
13    2014   0.294  0.298  0.360
14    2015   0.306  0.304  0.384
15    2016   0.312  0.310  0.394
16    2017   0.316  0.311  0.401
17    2018   0.309  0.306  0.389
18    2019   0.316  0.307  0.406
19    2020   0.324  0.318  0.412
20    2021   0.309  0.305  0.389